@import "tailwindcss";

@theme {
    --color-btn-primary: #292929;
    --color-highlight: #828283;
}

@font-face {
    font-family: 'Delight';
    src: url('/fonts/delight-extralight.woff2') format('woff2');
    font-weight: 50;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('/fonts/delight-light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('/fonts/delight-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('/fonts/delight-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delight';
    src: url('/fonts/delight-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
